.controller {
  width: 840px;
  height: 350px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#middle {
  position: absolute;
  width: 495px;
  height: 315px;
  left: 165px;
  background-color: #c7c8cc;
  z-index: -2;
}

#left, #right {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #c7c8cc;
  display: grid;
  align-items: center;
  justify-items: center;
}

#game {
  width: 250px;
  height: 250px;
  margin: auto;
  display: grid;
  /* Grid refresher course courtsey of CSS Tricks: https://css-tricks.com/snippets/css/complete-guide-grid/ */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  transform: rotate(45deg);
  background-color: #7e8086;
  border-radius: 50%;
  padding: 2rem;
}

.colorButton {
  padding: 2rem;
  margin: 2rem;
  background-color: slateblue;
  /* height: 70px;
  width: 70px; */
  color: white;
  box-sizing: border-box;
  border-radius: 50%;
}

.colorButton:hover {
  /* filter: brightness(50%) !important; */
  /* box-sizing: border-box;
  border: 2px solid black; */
  box-shadow: 0px 0px 5px 1px black;
}

.bg-div {
  background-color: pink;
  margin: 0;
}