#game {
  width: 500px;
  height: 500px;
  margin: auto;
  display: grid;
  /* Grid refresher course courtsey of CSS Tricks: https://css-tricks.com/snippets/css/complete-guide-grid/ */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  transform: rotate(45deg);
  background-color: gray;
  border-radius: 50%;
  padding: 2rem;
}

.colorButton {
  padding: 2rem;
  margin: 2rem;
  background-color: slateblue;
  height: 150px;
  width: 150px;
  color: white;
  box-sizing: border-box;
  border-radius: 50%;
}

.colorButton:hover {
  /* filter: brightness(50%) !important; */
  border: 2px solid black;
  box-shadow: 0px 0px 5px 1px black;
}