
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Days One', sans-serif;
  padding-top: 1rem;
}

.controller {
  width: 840px;
  height: 350px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#middle {
  position: absolute;
  width: 495px;
  height: 315px;
  left: 165px;
  background-color: #c7c8cc;
  z-index: 0;
  
}

#left, #right {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #c7c8cc;
  display: grid;
  align-items: center;
  justify-items: center;
}

#game {
  border: 1px solid #444;
  width: 200px;
  height: 200px;
  margin: auto;
  display: grid;
  column-gap: 1.5rem;
  /* Grid refresher course courtsey of CSS Tricks: https://css-tricks.com/snippets/css/complete-guide-grid/ */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  transform: rotate(47deg);
  background-color: #7e8086;
  border-radius: 50%;
  padding: 4rem;
}

.colorButton {
  padding: 2rem;
  margin: 1rem;
  background-color: slateblue;
  /* height: 70px;
  width: 70px; */
  color: white;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: -3px 0px 0 ;
}

.colorButton:hover {
  /* filter: brightness(50%) !important; */
  /* box-sizing: border-box;
  border: 2px solid black; */
  box-shadow: 0px 0px 5px 1px black;
}

.bg-div {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #c7c8cc;
  margin: 0;
}

.left-circle {
  width: 60%;
  height: 60%;
  border: 2px solid gray;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.middle-buttons {
  z-index: 2;
  text-align: center;
}

#select, #startGame {
  display: inline-block;
  padding-top: 200px;
  padding-right: 10px;
  
}

#select button, #startGame button {
  padding: 8px 24px;
  border: 1px solid black;
  background-color: #7e8086;
  border-radius: 15px;
  transform: rotate(-35deg);
}

#startGame button:hover {
  background-color: black;
}

.arrow-box {
  background-color: black;
  height: 50px;
  width: 50px;
  background-color: #7e8086;
  font-size: 45px;
  text-align: center;
}

.arrows-middle {
  display: flex;
  flex-direction: row;
}

.label {
  position: absolute;
  left: 100px;
  width: 50%;
  top: 20px;
  font-size: 1.5rem;
  color: #7e8086;
}

.famicomImage {
  float: left;
  width: 60px;
  margin: 10px;
}

.superFamicomSpan {
  font-size: 1rem;

}

#message {
  height: 50px;
  width: 400px;
  border: 5px solid white;
  background: linear-gradient(#5C5CB9, #00001F);
  border-radius: 20px;
  margin: auto;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  padding: .5rem;
  font-size: .5rem;
  color: white;
}



#score {
  width: 150px;
  height: 100%;
  padding: .5rem;
  border-radius: 20px;
  border: 5px solid white;
  background: linear-gradient(#5C5CB9, #00001F);
  color: white;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.2rem;
  margin-left: .5rem;
  
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  margin-bottom: 2rem;
}

.leftScreen {
  height: 300px;
  
}

#computerMoveDisplay {
  margin-top: .5rem;
  padding: .5rem;
  height: 230px;
  border-radius: 20px;
  border: 5px solid white;
  background: linear-gradient(#5C5CB9, #00001F);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

}

.displayIcon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}